:root {
    ---open_sans_font: 'Open Sans', sans-serif;
    ---raleway_font: 'Raleway', sans-serif;
}

.flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    width: 100%;
    height: 70px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    box-shadow: 0px 3px 6px #00000029;
}

.logo {
    padding-top: 16px;
    padding-bottom: 17px;
}

.logo_text {
    font-family: var(---raleway_font);
    font-weight: 300;
    color: #08A6E4;
    font-size: 32px;
}

.navigation a {
    text-transform: uppercase;
    text-decoration: none;
    font-family: var(---open_sans_font);
    font-weight: 700;
    font-size: 11px;
    color: #A5A5A5;
}

.navigation {
    display: flex;
    list-style: none;
}

.navigation li {
    width: 84px;
    height: 70px;
}

.navigation li a {
    width: 100%;
    height: 100%;
}

.navigation a:hover {
    font-weight: 700;
    color: black;
    border-bottom: 4px solid #08A6E4;
}

main {
    padding-top: 130px;
    box-sizing: border-box;
}

.content {
    flex-direction: column;
}

h1 {
    width: 226px;
    height: 57px;
    font-family: var(---raleway_font);
    font-weight: 400;
    font-size: 49px;
}

.description {
    font-family: var(---open_sans_font);
    font-weight: 400;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 38px;
    color: #000000;
}

main a {
    text-decoration: none;
    background-color: #08A6E4;
    width: 440px;
    height: 67px;
    padding-top: 22px;
    padding-bottom: 23px;
    box-sizing: border-box;
    color: white;
    font-family: var(---open_sans_font);
    font-weight: 700;
    font-size: 16px;
    border-radius: 40px;
}

.photo img {
    width: 100%;
}

.statistics {
    flex-direction: column;
    margin-top: 100px;
}

.numbers {
    justify-content: space-around;
    margin-top: 100px;
    margin-bottom: 121px;
    width: 100%;
}

.first_stat img,
.third_stat img {
    width: 52px;
    height: 48px;
}

.second_stat img {
    width: 65px;
    height: 37px;
    margin-bottom: 11px;
}

h2 {
    font-family: var(---raleway_font);
    font-size: 36px;
    font-weight: 400;
}

.numbers img + p {
    color: #000000;
    font-family: var(---raleway_font);
    font-weight: 800;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 19px;
}

.numbers img + p + p{
    color: #A5A5A5;
    font-family: var(---raleway_font);
    font-weight: 400;
    font-size: 17px;
    text-align: center;
}

.first_stat,
.second_stat,
.third_stat {
    flex-direction: column;
    justify-content: space-around;
}

.first_stat:before,
.second_stat:before,
.third_stat:before {
    content: "";
    width: 63px;
    height: 63px;
    position: relative;
    top: 52px;
    right: 24px;
    border-radius: 50%;
    z-index: -1;
}

.articles {
    background-color: #F7F7F7;
    padding-top: 105px;
    box-sizing: border-box;
    height: 1395px;
}

.first_stat:before {
    background-color: #FB3B64;
}

.second_stat:before {
    background-color: #08A6E4;
}

.third_stat:before {
    background-color: #55DFB4;
}

.container {
    width: 1124px;
}

.container div {
    background-color: white;
    margin-bottom: 37px;
    box-sizing: border-box;
    justify-content: space-around;
}

div.macbook_photo {
    box-sizing: border-box;
    padding-top: 113px;
    position: relative;
    z-index: 1;
}

div.macbook_photo:before {
    content: "";
    width: 180px;
    height: 180px;
    background-color: #FB3B64;
    border-radius: 41px;
    position: absolute;
    transform: rotate(45deg);
    bottom: 77px;
    left: 200px;
    z-index: -1;
}

div.second_article {
    flex-direction: row-reverse;
}

div.iphone_photo {
    box-sizing: border-box;
    padding-top: 29px;
}

div.iphone_photo:before {
    content: "";
    width: 320px;
    height: 320px;
    background-color: #07ACE6;
    border-radius: 50%;
    position: absolute;
}

.iphone_photo img {
    position: relative;
    z-index: 1;
}

div.trumpet_photo {
    background-color: #F7F7F7;
}

.trumpet_photo img {
    padding-top: 98px;
    position: absolute;
    padding-right: 82px;
}

div.third_article {
    background-color: #F7F7F7;
    padding-left: 0;
    justify-content: space-between;
}

div.third_article .article_content {
    height: 370px;
    background-color: white;
    padding-left: 37px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 623px;
}

div.trumpet_photo:before {
    content: "";
    width: 440px;
    height: 370px;
    background-color: #55DFB4;
    position: relative;
}

.articles .description {
    width: 416px;
}

.pricing {
    display: flex;
    justify-content: center;
}

.pricing h2 {
    padding-bottom: 50px;
}

.pricing_container {
    width: 1266px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

.pricing_types {
    justify-content: space-evenly;
}

.pricing_types div {
    margin: 0 27px;
}

.pricing_basic,
.pricing_premium {
    width: 372px;
    height: 461px;
    box-sizing: border-box;
    border-radius: 18px;
}

.pricing_basic {
    border: 1px solid #FB3B64;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricing_premium {
    border: 1px solid #55DFB4;
}

.pricing_professional {
    width: 405px;
    height: 500px;
    box-sizing: border-box;
    border: 1px solid #07ACE6;
    border-radius: 18px;
}

h3 {
    font-family: var(---raleway_font);
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    padding-top: 34px;
}

h3.pricing_professional {
    font-size: 21px;
}

.prices {
    padding-top: 14px;
    text-align: center;
    font-family: var(---open_sans_font);
    font-size: 46px;
    font-weight: 300;
}

.pricing_basic .prices {
    color: #FB3B64;
}

.pricing_professional .prices {
    color: #07ACE6;
}

.pricing_premium .prices {
    color: #07ACE6;
}

.checkbox input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}

.checkbox {
    display: flex;
    margin-top: 24px;
    margin-left: 16px;
    font-family: var(---open_sans_font);
    color: #B2B2B2;
    font-size: 14px;
}

.checkbox span {
    height: 11px;
    width: 11px;
    border: 1px solid #55DFB4;
    margin-right: 15px;
    border-radius: 2px;
    font-family: var(---open_sans_font);
    cursor: context-menu;
}

.checkbox input:checked + span {
    background-image: url("../images/Checkmark.png");
    background-repeat: no-repeat;
    background-position: center;
}

.unchecked:before {
    content: "x";
    height: 11px;
    width: 11px;
    color: red;
    z-index: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.unchecked span {
    border: 1px solid red;
    margin-right: 15px;
    border-radius: 2px;
    font-family: var(---open_sans_font);
    cursor: context-menu;
    position: absolute;
}