$big-phone-width: 551px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin big_phone {
  @media (min-width: #{$big-phone-width}) {
    @content;
  }
}

@mixin setFontForElement ($fontFamily, $fontSize, $fontWeight) {
  font-family: $fontFamily;
  font-size: $fontSize;
  font-weight: $fontWeight;
}