@use "sass:map";

$font_weight_normal_300: 300;
$font_weight_bold_400: 400;
$font_weight_600: 600;
$font_weight_extra_bold_700: 700;
$font_weight_super_bold_800: 800;
$box_shadow_color: #00000029;

%display_flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

$page-colors: (
        "red": #FB3B64,
        "blue": #08A6E4,
        "green": #55DFB4,
        "grey": #A5A5A5,
        "black": #000000,
        "white": #FFFFFFFF,
        "dark_grey": #F7F7F7
);