$header-font-weight: 300;
$header-color: #08A6E4;
$header-box-shadow:#00000029;
$navigation-text-color: #A5A5A5;
$navigation-text-hover-color: #000000;
$navigation-border-bottom: #08A6E4;
$primary-button-color: #08A6E4