@import "../settings/variables";

.buttons {
  text-decoration: none;
  background-color: map-get($page-colors, "blue");
  color: white;
  height: 3rem;
  width: 80%;
  font-weight: 700;
  font-size: 1rem;
  border-radius: 2rem;
  @extend %display_flex_center;
}