@import "../settings/variables";

$columns: 12;
$column-base-width: 100% / $columns;

h3 {
  @include setFontForElement($raleway_font, 2rem, 400);
  text-align: center;
}

h4 {
  @include setFontForElement($raleway_font, 1.5rem, 600);
  text-align: center;
  margin: 1rem;
}

[class*=pricing_] {
  border: 0.05rem solid black;
  border-radius: 1rem;
}

.container {
  width: 100%;
  max-width: 1352px;
  margin: 0 auto;
  padding: 0 1rem;

  .row {
    display: flex;
    flex-wrap: wrap;

    [class*=col-] {
      min-height: 1px;
      width: 100%;
      padding: 12px;
    }

    @media (min-width: 551px) {
      [class*=col-] {
        width: $column-base-width;
      }

      @for $i from 1 through $columns {
        .col-#{$i} {
          width: $column-base-width * $i;
        }
      }
    }
  }
}