@import "../settings/variables";

footer {
  padding: 1rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: map-get($page-colors, "dark_grey");
  box-shadow: 0 -0.2rem 2rem $box_shadow_color;

  .logo_text {
    font-size: 1.5rem;
    color: map-get($page-colors, "blue");
    padding: 0.5rem 0;
  }

  .copyright {
    font-family: var(---open_sans_font);
    font-weight: 400;
    font-size: 11px;
    color: #A5A5A5;
  }

  .social {
    display: flex;

    a {
      margin: 0 0.5rem;
    }
  }

  @include tablet {
    justify-content: space-between;
    padding-left: 10rem;
    padding-right: 10rem;
  }
}
