@import "../settings/variables";
@import "../layout/fonts";
@import "../settings/mixins";

header {
  position: fixed;
  z-index: 1;
  background-color: map-get($page-colors, "white");
  height: 4.375rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 3px 6px $box_shadow_color;
  color: map-get($page-colors, "blue");

  &:has(.menu-btn:checked) {
    flex-direction: column;

    .fa-sharp {
      display: none;
    }

    .fa-x {
      display: flex;
    }

    h1 {
      align-self: flex-start;
    }
  }

  h1 {
    height: 100%;
    @include setFontForElement($raleway_font, 2rem, $font_weight_normal_300);
    color: map-get($page-colors, "blue");
    align-self: center;
    padding: 1.063rem 0 1rem 1.563rem;
  }

  .menu-btn {
    display: none;

    &:checked ~ ul {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 4.5rem;
      width: 100vw;
      padding: 1.563rem;
      box-shadow: 0 3px 6px $box_shadow_color;
      animation: showHamburgerMenu 1s ease-in-out;
      background-color: map-get($page-colors, "white");
    }
  }

  .menu-icon {
    position: absolute;
    top: 1.563rem;
    right: 2rem;

    .fa-x {
      display: none;
    }

    @include tablet {
      display: none;
    }
  }

  ul {
    display: none;
    color: map-get($page-colors, "grey");
    @include setFontForElement($open_sans_font, 0.7rem, $font_weight_extra_bold_700);
    gap: 1rem;
    li:hover {
      color: map-get($page-colors, "black");
    }

    @include tablet {
      height: 100%;
      display: flex;
      align-items: center;
      padding-right: 1.563rem;
      li {
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0 1rem;

        &:hover {
          border-bottom: 0.2rem solid map-get($page-colors, "blue");
          animation: hoverNavigation 0.5s;
          animation-fill-mode: forwards;
        }
      }
    }
  }
}

@keyframes showHamburgerMenu {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@keyframes hoverNavigation {
 0% {
   transform: scale(1);
 }
  100% {
    transform: scale(1.1);
  }
}