@import "../layout/_fonts.scss";
@import "../settings/variables";
@import "../settings/mixins";

main {
  @extend %display_flex_center;
  flex-direction: column;
  height: 100vh;
  gap: 2rem;
  text-align: center;

  img {
    width: 100%;
  }

  h2 {
    @include setFontForElement($raleway_font, 2.2rem, $font_weight_bold_400);
  }

  p {
    @include setFontForElement($open_sans_font, 1rem, $font_weight_bold_400);
  }

  .buttons {
    @include tablet {
      width: 25%;
    }
  }
}