@import "../settings/variables";
@import "../layout/page";

.statistics {
  text-align: center;

  .first_stat {
    .stat_image {
      &::before {
        background-color: $primary-page-color;
      }
    }
  }

  .second_stat {
    .stat_image {
      height: 3.25rem;

      img {
        top: 0.5rem;
      }

      &:before {
        background-color: $red-picture-page-color;
      }
    }
  }

  .third_stat {
    .stat_image {
      &::before {
        background-color: $box-picture-background-color;
      }
    }
  }

  .stat_image {
    position: relative;

    img {
      position: relative;
      left: 1rem;
    }

    &::before {
      content: "";
      height: 3rem;
      width: 3rem;
      background-color: red;
      border-radius: 50%;
      position: absolute;
      z-index: -1;
      margin: 0 auto;
    }
  }

  .number {
    @include setFontForElement($raleway_font, 1.25rem, 800);
  }

  .stat_description {
    @include setFontForElement($raleway_font, 1rem, 400);
    color: $grey-text-color;
  }
}