@import "../settings/variables";
@import "../layout/page";
@import "../layout/fonts";
@import "../settings/mixins";

.statistics {
  text-align: center;

  .first_stat {
    .stat_image {
      &::before {
        background-color: map-get($page-colors, "blue");
      }
    }
  }

  .second_stat {
    .stat_image {
      height: 3.25rem;

      img {
        top: 0.5rem;
      }

      &:before {
        background-color: map-get($page-colors, "red");
      }
    }
  }

  .third_stat {
    .stat_image {
      &::before {
        background-color: map-get($page-colors, "green");
      }
    }
  }

  .stat_image {
    position: relative;

    img {
      position: relative;
      left: 1rem;
    }

    &::before {
      content: "";
      height: 3rem;
      width: 3rem;
      background-color: map-get($page-colors, "red");
      border-radius: 50%;
      position: absolute;
      z-index: -1;
      margin: 0 auto;
    }
  }

  .number {
    @include setFontForElement($raleway_font, 1.25rem, $font_weight_super_bold_800);
  }

  .stat_description {
    @include setFontForElement($raleway_font, 1rem, $font_weight_bold_400);
    color: map-get($page-colors, "grey");
  }
}